html, body {
  background-color: #171717;
}

#sublime_text {
  color: #E4E4E4;
  font-family: 'Droid Sans Mono', 'Courier New', serif;
  font-size: 14px;
  padding-left: 7em;
  table-layout: fixed;
  visibility: hidden;
  width: 100%;
}

#sublime_text a {
  text-decoration: none;
  color: #BDBC98;
  background-color: #333233;
}

#sublime_text a:hover {
  background-color: #171717;
}

table {
  border-spacing: 0;
  position: absolute;
  left: -98px;
}

.vis{
  visibility: visible;
}

.grey {
  background-color: #252525;
  width: 2em;
  vertical-align: text-top;
}

.blue {
  color: #6EDFFF;
}

.orange {
  color: #FF9A00;
}

.green {
  color: #B7FD22;
}

.pink {
  color: #FF007F;
}

.purple {
  color: #B492FD;
}

.white {
  color: #fff;
}

.string {
  color: #BDBC98;
}

.l1 {
  margin-left: 0em;
}

.l2 {
  margin-left: 2em;
}

.l3 {
  margin-left: 4em;
}

.l4 {
  margin-left: 6em;
}
